# .gitignore

# Virtual environment
pi_poll_app_venv/

# Node modules
frontend/node_modules/

# Python bytecode
*.pyc

# IDE/editor files
.idea/
.vscode/

# Environment variables
.env

# Log files
*.log
